<%= image_tag @portfolio_item.thumb_image unless @portfolio_item.thumb_image.nil? %>

<h2><%=  @portfolio_item.title %></h2>

<em><%= @portfolio_item.subtitle %></em>

<p><%= @portfolio_item.body %></p>

